
body{
  font-family: $fontFamily;
}

.first-wrapper{
  margin-top: 7%;
  .video{
    width: 100%;
    height:70vh
  }
  .topimage_text{
    text-align: center;
    h2{
      padding: 0%;
      margin: 0%;
    }
    p{
      padding: 0%;
      margin: 0%;
    }
  }
}

.second-wrapper{
  @include gridBox;
  text-align: center;
  margin: 10%;
  #left-box{
    grid-column: 1/2;
    grid-row: 1/2;
    .left-image{
      width: 100%;
      height: 400px;
      background: url("/img/left_img.jpg");
      background-size: cover;
    }
  }
  #right-box{
    grid-column: 2/3;
    grid-row: 1/2;
    .right-image{
      width: 100%;
      height: 400px;
      background: url("/img/right_img.jpg");
      background-size: cover;
    }
  }
}

.container {
  @include flexCenter;
}

.products {
  
  li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    .add-btn {
      width: 100%;
      background-color: black;
      color: whitesmoke;
      height: 43px;
    }
    .add-btn:hover{
      background-color: white;
      border-color: black;
      color: black;
    }
  }
  img{
    height: 250px;
    width: 250px;
  }

  .imageCarousel{
    position: relative;
  }

  .prev-btn,
  .next-btn {
    display: inline-block;
    padding: 8px 12px;
    width: auto;
    line-height: normal;
    cursor: pointer;
    color: rgb(254, 254, 254);
    background-color: rgba(158, 159, 161, 0.5);
    border: none;    border-radius: 50%;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
  }
  .prev-btn:hover,
  .next-btn:hover {
    color: rgb(255, 252, 252);
    background: rgba(48, 44, 1, 0.718);
    border: white;
  }
  .prev-btn {
    position: absolute;
    top: 45%;
    left: 3%;
    margin-left: 5px;
  }

  .next-btn {
    position: absolute;
    top: 45%;
    right: 3%;
    margin-right: 5px;
  }
}

