// Mixins allow you to define styles that can be re-used throughout your stylesheet

@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-top: 50px;
}
