// Mixins allow you to define styles that can be re-used throughout your stylesheet

@mixin flexCenter{
  display: flex;
  justify-content: center;
}

@mixin gridBox{
  display: grid;
  gap: 2em;
  // grid-template-columns: 120px;
  // grid-template-rows: 40px;
}

