// Mixins allow you to define styles that can be re-used throughout your stylesheet

@mixin flexCenter{
  display: flex;
  justify-content: center;
}

@mixin gridBox{
  display: grid;
  gap: 2em;
}

@mixin grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 35px;
  padding-top: 50px;
}
